/* Для повтор компонентов */

:root {
  --black-color: #1a1a1a;
  --grey-color: #4a4a4a;
  --orange-color: #ffc107;
  --shadows-color: #b3b3b3;
  --transition-duration: 0.3s;
}

/* База */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
::after,
::before {
  box-sizing: inherit;
}
.app {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--black-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
}

/* 


img {
  max-width: 100%;
} */

a {
  text-decoration: none;
}

/* Лого */

.logo {
  width: 16rem;
  display: block;
}

/* Кнопка */

.btn {
  display: inline-block;
  padding: 20px 80px;
  border-radius: 15px;
  background-color: var(--grey-color);
  border: none;
  color: white;
  outline: 1px solid transparent;
  outline-offset: 2px;
  font-size: 24px;
  cursor: pointer;
  transition: outline-color var(--transition-duration),
    background-color var(--transition-duration);
}

.btn:focus-visible {
  outline-color: var(--grey-color);
  color: var(--orange-color);
}

.btn:hover {
  outline-color: var(--grey-color);
  color: var(--orange-color);
}

.btn:active {
  outline-color: var(--grey-color);
  color: var(--orange-color);
}

/* Меню */

.menu__list {
  display: flex;
  align-items: center;
  gap: 5.6rem;
  list-style: none;
  margin: 0;
  padding-left: 0;
  font-size: 1.25rem;
}

.menu__link {
  color: white;
  outline: none;
  transition: color var(--transition-duration),
    background-color var(--transition-duration);
}

.menu__link:focus-visible {
  color: var(--orange-color);
}

.menu__link:hover {
  color: var(--orange-color);
}

.menu__link:active {
  color: var(--orange-color);
}

/* Подзаголовок */

.subtitle {
  margin: 0;
  padding: 0;
  color: var(--shadows-color);
  font-size: 2.25rem;
  text-align: center;
}

/* Заголовок */

.ttl {
  margin: 0;
  padding: 0;
  text-align: center;
  /* font-size: 96px; */
  color: var(--orange-color);
  font-size: 6rem;
}

.secondary__ttl {
  color: var(--shadows-color);

  font-size: 2.25rem;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: -3%;
  text-align: center;
}

/* Стрелка */

.arrow {
  display: block;
  cursor: pointer;
  width: 6.25rem;
  height: 6.25rem;
  transition: transform 1s ease-in-out;
}

.arrow:hover {
  transform: scale(1.2);
}
.section-col {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 60px;
}
/* Фото галереи */

.photo-gallery {
  /* width: 360px; */
  height: 480px;
  /* height: 40vh;
  max-height: 480px;
  min-height: 186px; */
  border-radius: 20px;
  box-shadow: 2px 4px 8px var(--shadows-color);
}
.photo-gallery img {
  box-shadow: 2px 4px 8px var(--shadows-color);
}

/* Поле ввода */

.inp {
  border-radius: 20px;
  padding: 2px 10px;
  width: 500px;
  height: 56px;
  font-size: 32px;
  outline: none;
  border: none;
}

/* Форма */

.callback-form {
  background-color: var(--grey-color);
  border-radius: 20px;
  width: 540px;
  height: fit-content;
}

.callback-form__body {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.callback-form__body-padding {
  padding: 30px 20px;
}

.callback-form__text {
  font-size: 24px;
  color: white;
  margin: 0;
  /* padding: 23px 0px; */
}

.callback-form__btn {
  /* margin-top: 16px; */
  background-color: var(--black-color);
}

/* Сертификат */

.certificate {
  background-color: var(--black-color);
  border-radius: 15px;
  max-width: 537px;
  width: 100%;
  height: auto;
  max-height: 252px;
  border: 3px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;

  margin: 0;
  padding: 0;
}

.certificate__txt {
  text-align: center;
  color: white;
  font-size: 40px;
  width: 253px;
  margin: 0;
  padding-bottom: 40px;
}

/* Номинал */

.nominal {
  width: 100%;
  padding: 25px;
  min-height: 58px;
  background-color: var(--black-color);
  border-radius: 15px;
  border: 3px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.nominal__value {
  color: white;
  font-size: 40px;
  margin: 0;
  padding: 0;
}

.nominal:focus-visible {
  background-color: var(--orange-color);
}

.nominal:hover {
  background-color: var(--orange-color);
}

.nominal:active,
.nominal.active {
  background-color: var(--orange-color);
}

/* Контейнер */

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0px;
}

/* Header  */

.header {
  background-color: var(--black-color);
  position: sticky;
  z-index: 1;
  top: 0;
}

.header__container {
  max-height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-right: 15px; */

  background-color: var(--black-color);

  overflow-x: hidden;
  overflow-y: hidden;
}
.header__container-padding {
  padding: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header__logo {
  display: block;
}

/* Блок приветствия */

.welkom-block {
  padding: 0 15px;
  background-image: url("../src/assets/wb.png");
  /* Масштабирует изображение, чтобы покрыть всю область */
  background-size: cover;

  background-attachment: fixed;
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Отключает повтор */
  min-height: calc(100vh - 60px);

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.welkom-block__container {
  transform: translateY(-30px);
}

.welkom-block__text-detaling {
  margin: 0;
  padding-bottom: 45px;
  /* font-size: 36px; */
  color: var(--orange-color);
  font-size: 2.25rem;
}

.welkom-block__text {
  margin: 0;
  padding-top: 45px;
  /* font-size: 36px; */
  color: var(--orange-color);
  font-size: 2.25rem;
}

.welkom-block__arrow {
  position: absolute;
  bottom: 0;
}

.menu-icon {
  width: 40px;
  height: 40px;
  display: none;
}

/* Subtitle check second heading on form component figma */
.secondary__subtitle {
  font-size: 2rem;
  color: var(--shadows-color);
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .menu__list {
    display: none;
  }

  .menu-icon {
    display: flex;
  }

  .subtitle {
    font-size: 2.02rem;
  }

  .secondary__subtitle {
    font-size: 1.77rem;
  }

  .welkom-block__text-detaling {
    font-size: 1.9rem;
  }

  .welkom-block__ttl {
    font-size: 5rem;
  }

  .welkom-block__text {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
  }
  .header__logo {
    width: 12rem;
    height: 6rem;
  }
  .secondary__ttl {
    font-size: 3rem;
  }

  .subtitle {
    font-size: 1.82rem;
  }

  .secondary__subtitle {
    font-size: 1.57rem;
  }

  .welkom-block__text-detaling {
    font-size: 1.9rem;
  }

  .welkom-block__ttl {
    font-size: 4.68rem;
  }

  .welkom-block__text {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 576px) {
  .ttl {
    font-size: 4rem;
  }
  .welkom-block__text-detaling {
    font-size: 2rem;
  }
  .welkom-block__text {
    font-size: 1rem;
  }
  .container {
    max-width: 576px;
  }

  .callback-form {
    width: 92vw;
  }

  .inp {
    width: 320px;
  }
  .secondary__subtitle {
    font-size: 1.4rem;
  }

  .welkom-block__arrow {
    width: 6.25rem;
    height: 6.25rem;
  }
  .welkom-block {
    height: 600px;
    padding: 0 5px;
  }
  .secondary__ttl {
    font-size: 2rem;
  }

  .page-container {
    gap: 60px;
  }
  .section-col {
    gap: 30px;
  }

  .subtitle {
    font-size: 1.62rem;
  }
}
@media screen and (max-width: 320px) {
  .ttl {
    font-size: 2rem;
  }
  .welkom-block__text-detaling {
    font-size: 1.25rem;
  }
  .welkom-block__text {
    font-size: 1rem;
  }
  .container {
    max-width: 400px;
  }
  .welkom-block__arrow {
    width: 6.25rem;
    height: 6.25rem;
  }
  .header__logo {
    width: 6.25rem;
    height: 3.25rem;
  }

  .inp {
    width: 300px;
    height: 50px;
  }
  .secondary__subtitle {
    font-size: calc(3rem * (400 / 1440));
  }
  .subtitle {
    font-size: 1.42rem;
  }
}
